/*css reset meyer*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*css syntax project1*/

body {
	font-family: arial serif ;
	background-color: #eaeaea;
	color: grey;
	background-image: url(image/background.png);
}

.topbar {
	position: fixed;
	/*agar elemen top bar berada diatas sendiri*/
	z-index: 9999;
	background-color: darkgrey;
	height: 50px;
	top: 0px;
	right: 0px;
	left: 0px;
	
}
.topbar input {
	background-color: #eaeaea;
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 50px;
	height: 20px;
	border: 1px solid white;
	}

/*elemen pembungkus utama*/
.container {
	margin: 70px auto;
	width: 960px;
	background-color: white;
	position: relative;
}	

.twitter {
	height: 200px;
	width: 200px;
	background-image: url(image/twitter.png);
	background-size: 100%;
	display: inline-block;

	/*untuk menghilangkan tulisan link*/
	text-indent: -9999px;

	position: absolute;
	top: -14px;
	right: -13px;


}
/*header*/
.header {
	color:  black;
	padding: 20px;
}

.header .judul {
	text-transform: capitalize;
	font-size: 40px;
	font-weight: bold;
}
/*agar navigasi sama header jarak tidak kejauhan*/
.header ul li {
	display: inline-block;
	margin-top: 10px;
	padding: 2px;
	margin-right: 8px;
	border-right: 3px solid skyblue;
}

.header ul li:last-child {
	border: none;
}

.header a {
	color: salmon;
	text-decoration: none;
}

.header a:hover {
	color: white;
	background-color: skyblue;
}


/*banner/hero image*/

.hero {
	height: 370px;
	background-image: url(image/computer.jpg);
	background: cover;
	background-repeat: no-repeat;
	/*untuk mengatur vertikal pada background*/
	background-position: 0 -180px;

	/*agar background full screen dari weight yg telah ditentukan */
	background-size: 100%;
}


/*conten utama*/
.main {
	width: 600px;
	padding: 20px;
	box-sizing: border-box;
	float: left;
}

.main h2 {
	color: black;
	font-size: 28px;
	font-weight: bold;
	text-transform: capitalize;
}
/*paragraf harus digrup*/
.main .penulis {
 	font-size: 15px;
 	margin-bottom: 20px;
}
 	
.main .penulis a {
	text-decoration: none;
	color: red;
}

.main .paragraf {
	text-indent: 30px;
	text-align: justify;
	font-size: 17px;
}

/*side bar*/
.sidebar{
	width: 300px;
	float: right;
	padding: 20px;
}
.sidebar h3 {
	font-size: 20px;
	font-weight: bold;
	text-transform: capitalize;
	color: #666;
}
.sidebar img {
	width: 80px;
	height: 80px;
	float: left;

	margin-top: 5px;
	padding-right: 10px;
}
.sidebar p {
	font: 13px/18px arial;
	text-align: justify;
	word-spacing: -2px;
}

/*clearfix*/
/*keyword cf ditulis pada elemen pembungkus pada tag HTML*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}


/*footer*/
.footer {
	background-color: grey;
	padding: 17px;
	
}
.footer .copy{
	color: white;
	font-size: 20px;
	text-align: center;
}
